fastapi==0.104.1
uvicorn==0.24.0
pydantic>=2.10.0
python-multipart==0.0.6
firebase-admin==6.2.0
python-dotenv==1.0.0
google-generativeai==0.3.0
pillow>=10.0.0
reportlab==4.0.7
python-dateutil==2.8.2
pyswisseph==2.10.3.2
pytz==2023.3
geopy==2.4.0
requests==2.31.0
setuptools>=69.0.2
timezonefinder>=6.5.0
cors==1.0.1
jyotishganit==0.1.2
python-telegram-bot==20.3
filelock>=3.13.0
